<!-- 底部模块start -->
<footer class="footer">

<div class="w">
    <div class="mod_service">
        <ul>
            <li>
                <h5 class="service_img_1"></h5>
                <div class="service_txt">
                    <h4>正品保障</h4>
                    <p>正品保障,提供发票</p>
                </div>
            </li>
            <li>
                <h5 class="service_img_2"></h5>
                <div class="service_txt">
                    <h4>急速物流</h4>
                    <p>急速物流，急速送达</p>
                </div>
            </li>
            <li>
                <h5 class="service_img_3"></h5>
                <div class="service_txt">
                    <h4>无忧售后</h4>
                    <p>7天无理由退换</p>
                </div>
            </li>
            <li>
                <h5 class="service_img_4"></h5>
                <div class="service_txt">
                    <h4>特色服务</h4>
                    <p>私人定制家电掌握</p>
                </div>
            </li>
            <li>
                <h5 class="service_img_5"></h5>
                <div class="service_txt">
                    <h4>帮助中心</h4>
                    <p>您的贴心助手</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="mod_help">
        <dl>
            <dt>服务指南</dt>
            <dd><a href="#">购物流程</a></dd>
            <dd><a href="#">会员介绍</a></dd>
            <dd><a href="#">生活旅行/团购</a></dd>
            <dd><a href="#">常见问题</a></dd>
            <dd><a href="#">大家电</a></dd>
            <dd><a href="#">联系客服</a></dd>
        </dl>
        <dl>
            <dt>服务指南</dt>
            <dd><a href="#">购物流程</a></dd>
            <dd><a href="#">会员介绍</a></dd>
            <dd><a href="#">生活旅行/团购</a></dd>
            <dd><a href="#">常见问题</a></dd>
            <dd><a href="#">大家电</a></dd>
            <dd><a href="#">联系客服</a></dd>
        </dl>
        <dl>
            <dt>服务指南</dt>
            <dd><a href="#">购物流程</a></dd>
            <dd><a href="#">会员介绍</a></dd>
            <dd><a href="#">生活旅行/团购</a></dd>
            <dd><a href="#">常见问题</a></dd>
            <dd><a href="#">大家电</a></dd>
            <dd><a href="#">联系客服</a></dd>
        </dl>
        <dl>
            <dt>服务指南</dt>
            <dd><a href="#">购物流程</a></dd>
            <dd><a href="#">会员介绍</a></dd>
            <dd><a href="#">生活旅行/团购</a></dd>
            <dd><a href="#">常见问题</a></dd>
            <dd><a href="#">大家电</a></dd>
            <dd><a href="#">联系客服</a></dd>
        </dl>
        <dl>
            <dt>服务指南</dt>
            <dd><a href="#">购物流程</a></dd>
            <dd><a href="#">会员介绍</a></dd>
            <dd><a href="#">生活旅行/团购</a></dd>
            <dd><a href="#">常见问题</a></dd>
            <dd><a href="#">大家电</a></dd>
            <dd><a href="#">联系客服</a></dd>
        </dl>
        <dl>
            <dt>帮助中心</dt>
            <dd>
                <div class="mod_help_img"></div>
                bilibili个人中心

            </dd>
        </dl>
    </div>
 <div class="mod_copyright">
                    <div class="links">
                            <a href="#">关于我们</a>  |  <a href="#">联系我们</a>  |  <a href="#">联系客服</a>  |  商家入驻  |  营销中心  |  手机品优购  |  友情链接  |  销售联盟  |  品优购社区  |  品优购公益  |  English Site  |  Contact U
                    </div>
                    <div class="copyright">
                            地址：北京市昌平区建材城西路金燕龙办公楼一层 邮编：100096 电话：400-618-4000 传真：010-82935100 邮箱: zhanghj+itcast.cn <br>
                            京ICP备08001421号京公网安备110108007702
                    </div>
            </div>
        
</div>
    
</footer>
<!-- 底部模块end -->
