    <div class="sk_container w">
        <div class="sk_hd">
            <img src="./assets/images/ppp.png" alt="">
        </div>
        <div class="sk_bd">
            <ul class="clearfix">

                <li>
                    <div class="sk_wbd">
                        <img src="./assets/images/shouji.png" alt="">
                        <h4  class="jieshao">Apple苹果iPhone 14 Plus （A1699）512g <br>金色移动联通电信5g手机</h4>
                        <span class="mny_l">&yen;6088</span><span class="mny_r"> &yen;6988</span> <br>
                        <div class="jindutiao">
                               <span class="bfb">已售87%</span>
                                <div class="jindu">
                            <span class="jindu_lf">
                                <i></i>
                            </span>
                            <span></span>
                        </div>
                         <span class="shenyu">剩余<span class="style_red">29</span>件</span>   </div>
                        

                    </div>
                    <div class="sk_bd_hd">
                        立即抢购
                    </div>
                </li>
                <li>
                    <div class="sk_wbd">
                        <img src="./assets/images/shouji.png" alt="">
                        <h4  class="jieshao">Apple苹果iPhone 14 Plus （A1699）512g <br>金色移动联通电信5g手机</h4>
                        <span class="mny_l">&yen;6088</span><span class="mny_r"> &yen;6988</span> <br>
                        <div class="jindutiao">
                               <span class="bfb">已售87%</span>
                                <div class="jindu">
                            <span class="jindu_lf">
                                <i></i>
                            </span>
                            <span></span>
                        </div>
                         <span class="shenyu">剩余<span class="style_red">29</span>件</span>   </div>
                        

                    </div>
                    <div class="sk_bd_hd">
                        立即抢购
                    </div>
                </li>
                <li>
                    <div class="sk_wbd">
                        <img src="./assets/images/shouji.png" alt="">
                        <h4  class="jieshao">Apple苹果iPhone 14 Plus （A1699）512g <br>金色移动联通电信5g手机</h4>
                        <span class="mny_l">&yen;6088</span><span class="mny_r"> &yen;6988</span> <br>
                        <div class="jindutiao">
                               <span class="bfb">已售87%</span>
                                <div class="jindu">
                            <span class="jindu_lf">
                                <i></i>
                            </span>
                            <span></span>
                        </div>
                         <span class="shenyu">剩余<span class="style_red">29</span>件</span>   </div>
                        

                    </div>
                    <div class="sk_bd_hd">
                        立即抢购
                    </div>
                </li>
                <li>
                    <div class="sk_wbd">
                        <img src="./assets/images/shouji.png" alt="">
                        <h4  class="jieshao">Apple苹果iPhone 14 Plus （A1699）512g <br>金色移动联通电信5g手机</h4>
                        <span class="mny_l">&yen;6088</span><span class="mny_r"> &yen;6988</span> <br>
                        <div class="jindutiao">
                               <span class="bfb">已售87%</span>
                                <div class="jindu">
                            <span class="jindu_lf">
                                <i></i>
                            </span>
                            <span></span>
                        </div>
                         <span class="shenyu">剩余<span class="style_red">29</span>件</span>   </div>
                        

                    </div>
                    <div class="sk_bd_hd">
                        立即抢购
                    </div>
                </li>
                <li>
                    <div class="sk_wbd">
                        <img src="./assets/images/shouji.png" alt="">
                        <h4  class="jieshao">Apple苹果iPhone 14 Plus （A1699）512g <br>金色移动联通电信5g手机</h4>
                        <span class="mny_l">&yen;6088</span><span class="mny_r"> &yen;6988</span> <br>
                        <div class="jindutiao">
                               <span class="bfb">已售87%</span>
                                <div class="jindu">
                            <span class="jindu_lf">
                                <i></i>
                            </span>
                            <span></span>
                        </div>
                         <span class="shenyu">剩余<span class="style_red">29</span>件</span>   </div>
                        

                    </div>
                    <div class="sk_bd_hd">
                        立即抢购
                    </div>
                </li>

                <li>
                    <div class="sk_wbd">
                        <img src="./assets/images/shouji.png" alt="">
                        <h4  class="jieshao">Apple苹果iPhone 14 Plus （A1699）512g <br>金色移动联通电信5g手机</h4>
                        <span class="mny_l">&yen;6088</span><span class="mny_r"> &yen;6988</span> <br>
                        <div class="jindutiao">
                               <span class="bfb">已售87%</span>
                                <div class="jindu">
                            <span class="jindu_lf">
                                <i></i>
                            </span>
                            <span></span>
                        </div>
                         <span class="shenyu">剩余<span class="style_red">29</span>件</span>   </div>
                        

                    </div>
                    <div class="sk_bd_hd">
                        立即抢购
                    </div>
                </li>
                <li>
                    <div class="sk_wbd">
                        <img src="./assets/images/shouji.png" alt="">
                        <h4  class="jieshao">Apple苹果iPhone 14 Plus （A1699）512g <br>金色移动联通电信5g手机</h4>
                        <span class="mny_l">&yen;6088</span><span class="mny_r"> &yen;6988</span> <br>
                        <div class="jindutiao">
                               <span class="bfb">已售87%</span>
                                <div class="jindu">
                            <span class="jindu_lf">
                                <i></i>
                            </span>
                            <span></span>
                        </div>
                         <span class="shenyu">剩余<span class="style_red">29</span>件</span>   </div>
                        

                    </div>
                    <div class="sk_bd_hd">
                        立即抢购
                    </div>
                </li>
                <li>
                    <div class="sk_wbd">
                        <img src="./assets/images/shouji.png" alt="">
                        <h4  class="jieshao">Apple苹果iPhone 14 Plus （A1699）512g <br>金色移动联通电信5g手机</h4>
                        <span class="mny_l">&yen;6088</span><span class="mny_r"> &yen;6988</span> <br>
                        <div class="jindutiao">
                               <span class="bfb">已售87%</span>
                                <div class="jindu">
                            <span class="jindu_lf">
                                <i></i>
                            </span>
                            <span></span>
                        </div>
                         <span class="shenyu">剩余<span class="style_red">29</span>件</span>   </div>
                        

                    </div>
                    <div class="sk_bd_hd">
                        立即抢购
                    </div>
                </li>
                <li>
                    <div class="sk_wbd">
                        <img src="./assets/images/shouji.png" alt="">
                        <h4  class="jieshao">Apple苹果iPhone 14 Plus （A1699）512g <br>金色移动联通电信5g手机</h4>
                        <span class="mny_l">&yen;6088</span><span class="mny_r"> &yen;6988</span> <br>
                        <div class="jindutiao">
                               <span class="bfb">已售87%</span>
                                <div class="jindu">
                            <span class="jindu_lf">
                                <i></i>
                            </span>
                            <span></span>
                        </div>
                         <span class="shenyu">剩余<span class="style_red">29</span>件</span>   </div>
                        

                    </div>
                    <div class="sk_bd_hd">
                        立即抢购
                    </div>
                </li>
            </ul>
        </div>

    </div>  