<!-- 快捷导航模块start -->
<section class="shortcut"> 
    <div class="w">
        <div class="fl">

            <ul>
                <li>品优购欢迎您！&nbsp;</li>
                <li>请<a href="#"routerLink="/login" >登录</a>&nbsp;<a href="" routerLink="/login" class="style_red">免费注册</a></li>
            </ul>
          
        </div>
        <div class="fr">
            <ul>
                <li><a href="#">我的订单</a></li>
                <li class="shu"></li>
                <li><a href="#" class="arrow-icon ">我的品优购</a></li>
                <li class="shu"></li>
                <li><a href="#">品优购会员</a></li>
                <li class="shu"></li>
                <li><a href="#">企业采购</a></li>
                <li class="shu"></li>
                <li><a href="#" class="arrow-icon ">关注品优购</a></li>
                <li class="shu"></li>
                <li><a href="#" class="arrow-icon ">客户服务</a></li>
                <li class="shu"></li>
                <li><a href="#" class="arrow-icon ">网络导航</a></li>
            </ul>

        </div>
    </div>
</section>
<!-- 快捷导航模块end-->



