
<!-- nav导航模块start -->
<!-- <nav class="nav">
    <div class="w">
        <div class="dropdown fl">
            <div class="dt">全部商品分类</div>
            <div class="dd">
                <ul>
                    <li><a href="#">家用电器</a></li>
                    <li><a href="" routerLink="/list">手机</a>、 <a href="#">数码</a>、<a href="#">通信</a> </li>
                    <li><a href="#">电脑</a>、<a href="#">办公</a> </li>
                    <li><a href="#">家居</a>、 <a href="#">家具</a>、 <a href="#">家装</a>、<a href="#">厨具</a> </li>
                    <li><a href="#">男装</a>、<a href="#">女装</a>、 <a href="#">童装</a>、<a href="#">内衣</a> </li>
                    <li><a href="#">个户化妆</a>、<a href="#">清洁用品</a>、 <a href="#">宠物</a> </li>
                    <li><a href="#">鞋靴</a>、<a href="#">箱包</a>、 <a href="#">珠宝</a>、<a href="#">奢侈品</a></li>
                    <li><a href="#">运动户外</a> 、<a href="#">钟表</a></li>
                    <li><a href="#">汽车</a>、<a href="#">汽车用品</a></li>
                    <li><a href="#">母婴</a>、 <a href="#">玩具乐器</a></li>
                    <li><a href="#">食品</a>、<a href="#">酒类</a>、 <a href="#">生鲜</a>、<a href="#">特产</a> </li>
                    <li><a href="#">医药保健</a> </li>
                    <li><a href="#">图书</a> 、<a href="#">音像</a>、 <a href="#">电子书</a></li>
                    <li><a href="#">彩票</a>、<a href="#">旅行</a>、 <a href="#">充值</a>、<a href="#">票务</a> </li>
                    <li><a href="#">理财</a> 、<a href="#">众筹</a>、 <a href="#">白条</a>、<a href="#">保险</a></li>

                </ul>
            </div>
        </div>
        <div class="navitems fl">
            <ul>
                <li><a href="#">服装城</a></li>
                <li><a href="#">美妆馆</a></li>
                <li><a href="#">传智超市</a></li>
                <li><a href="#">全球购</a></li>
                <li><a href="#">闪购</a></li>
                <li><a href="#">团购</a></li>
                <li><a href="#">拍卖</a></li>
                <li><a href="#">有趣</a></li>
            </ul>
        </div>
    </div>

</nav> -->
<!-- nav导航模块end -->