
<!-- nav导航模块start -->
<nav class="nav">
    <div class="w">
        <div class="sk_list fl">
            <ul>
                <li><a href="#">品优秒杀</a></li>
                <li><a href="#">即将售罄</a></li>
                <li><a href="#">超值低价</a></li>
            </ul>
            
        </div>
        <div class="sk_con fl">
            <ul>
                <li><a href="#">女装/女鞋</a></li>
                <li><a href="#" class="style_red">手机</a></li>
                <li><a href="#">男装</a></li>
                <li><a href="#">男鞋</a></li>
                <li><a href="#">母婴童装</a></li>
                <li><a href="#">食品</a></li>
                <li><a href="#">智能数码</a></li>
                <li><a href="#">运动户外</a></li>
                <li><a href="#" class="moduo">更多分类</a></li>
            </ul>
        </div>
    </div>

</nav>
<!-- nav导航模块end -->